MetaMind.Acutance/Service References/PerseveranceServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/MetaMind.Engine.Concepts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetaMind.Engine.Concepts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MetaMind.PerseveranceService/SynchronizationService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Experience">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accelaration" type="xs:double" />
      <xs:element minOccurs="0" name="CertainDuration" type="ser:duration" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasEnded" type="xs:boolean" />
      <xs:element minOccurs="0" name="HistoricalStartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecentStartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Experience" nillable="true" type="tns:Experience" />
</xs:schema>