MetaMind.Acutance/Service References/PerseveranceServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/MetaMind.PerseveranceService/SynchronizationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetaMind.Perseverance.Concepts.TaskEntries" />
  <xs:element name="GetSynchronizedTask">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSynchronizedTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetaMind.Perseverance.Concepts.TaskEntries" minOccurs="0" name="GetSynchronizedTaskResult" nillable="true" type="q1:TaskEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>